@model IEnumerable<MvcBasic.Models.Member>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<table class="table">
    <tr>
        <th>氏名</th>
        <th>誕生日</th>
        <th>みんなへ一言</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Birth</td>
            <td>@item.Coment</td>
        </tr>
    }
</table>